body {
    background-color: rgb(77, 185, 189);
}

h1 {
    text-align: center;
    font-style: italic;
}

ul {
    text-align: center;
    list-style-type: none;
}

li {
    margin-top: 5px;
}
